version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www/html
      - ./src/storage:/var/www/html/storage
    depends_on:
      - db
    environment:
      QUEUE_CONNECTION: database

  db:
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb

  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - .:/var/www/html
      - ./storage:/var/www/html/storage
      - ./.env:/var/www/html/.env
    depends_on:
      - db
    command: >
      sh -c "wait-for-it db:3307 -- php src/artisan queue:work --sleep=3 --tries=3"    environment:
      QUEUE_CONNECTION: database